*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: rgba(26, 11, 46, 1);
    position: relative;

    
}
.logo{
    font-weight: 700;
    color: white;
}
.wave{
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  -webkit-background-clip: text; background-clip: text;
  -webkit-text-fill-color: transparent;
}


.menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}
.menu a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 300;
}
.menu-toggle{
    display: none;
}
.hamburger-label{
    display: none;
    cursor: pointer;

}


.btn-primary{
    padding: 12px 16px;
    align-items: center;
    border: none;
    border-radius: 10000px;
    color: white;
   
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(
  135deg,
  rgba(247, 233, 63, 1) 0%,
  rgba(251, 9, 180, 1) 50%,
  rgba(145, 0, 248, 1) 100%
);
}
.btn-primary:hover, .btn-listen:hover, .btn-subscribe:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(145, 0, 248, 0.4);
}
.btn-primary-mobile{
    display: none;
    padding: 12px 16px;
    align-items: center;
    border: none;
    border-radius: 10000px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(
  135deg,
  rgba(247, 233, 63, 1) 0%,
  rgba(251, 9, 180, 1) 50%,
  rgba(145, 0, 248, 1) 100%
);
}
/*banner styles*/
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(26, 11, 46, 1);
    position: relative;
    overflow: hidden;
    padding: 100px 20px;
    min-height: 100vh;
}
.section-content{
    position: relative;
    z-index: 2;
    color: white;
    max-width: 600px;
}
.background-wave-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100% ;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
    pointer-events: none;
    z-index: 0;
}
.podcast-icon-group{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px auto;
}
.gradient-circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.microphone-icon{
     position: absolute;
    width: 50px;
    height: auto;
     top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);

}
.badge{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgba(0, 255, 136, 1);
    color: black;
    padding: 4px 8px;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: bold;
    z-index: 3;
    text-transform: uppercase;
}
.section-content h1{
    font-size: 3rem;
    margin-bottom: 10px;
    
}
.section-content p{
    font-size: 1rem;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.buttons-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn-listen, .btn-subscribe{
    padding: 12px 24px;
    border-radius: 10000px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
   

}
.btn-listen{
    background: linear-gradient(
  135deg,
  rgba(247, 233, 63, 1) 0%,
  rgba(251, 9, 180, 1) 50%,
  rgba(145, 0, 248, 1) 100%
);
  color: white;
  border: none;
}
.btn-subscribe{
    background-color: transparent;
    border: 2px solid rgba(0, 255, 136, 1);
    color: rgba(0, 255, 136, 1);
    
}
.btn-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    
}
/* ABOUT SECTION STYLES*/

.about-section{
    background-color: rgba(26, 11, 46, 1);
    padding: 50px 200px 120px 200px;
    color: white;
    position: relative;
}
.about-content{
    max-width: 1200px;
    margin: 0 auto;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px ;
    text-align: center;
}
.about-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
}
.stats-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
    background-color: rgba(26, 11, 46, 1);
    padding: 30px 20px;
    border-radius: 10px;
    gap: 40px;
}
.stat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    gap: 16px;
    
}
.stat-number{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5px;
    color: rgba(0, 255, 136, 1);
   
    
}
.stat-label{
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
.line{ 
    max-width: 1200px;
   
    margin: 40px auto;
    color: rgba(255, 255, 255, 1);
    opacity: 0.1;
}
/* why choose styles */
.why-choose-section{
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 200px;
    color: white;
}
.why-choose-content{
    max-width: 1200px;
    margin: 0 auto;
}
.why-choose-title{
    font-size: 3rem ;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    text-transform: capitalize;
}
.feature-label{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    gap: 16px;
    margin-bottom: 16px;
}
.feature-sublabel{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}


.grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 24px;
}

.box1{
    grid-column: 1;
    grid-row: span 2;
}
.box2{
    grid-column: 2/4;
    grid-row: 1;
}
.box3{
    grid-column: 2/4;
    grid-row: 2;
}
.box4{
    grid-column: 1/3;
    grid-row:  3;
}
.box5{
    grid-column: 3;
    grid-row: 3;
}
.box{
    background-color: rgba(53, 17, 101, 0.4);
    color: white;
    border-radius: 40px;
    
    padding: 40px;
   

}
/*episode styles*/
.podcast-layout{
    background-color: rgba(26, 11, 46, 1);
    color: white;
    padding: 80px 20px;

}
.podcast-layout > section{
 max-width: 1200px;
    margin: 0 auto;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.epi-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 24px;
    
}
.epi-card{
    background-color: rgba(37, 13, 68, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease;
}
.epi-card:hover {
    transform: translateY(-5px);
}
.video-wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.video-wrapper iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
   
   
}
.epi-details{
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.epi-card h4{
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
}
.epi-card p{
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}
.episode-meta{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(0, 255, 136, 1) ;
    font-weight: bold;
    margin-top: auto;
}
.clock-icon{
    width: 14px;
    height: auto;
}
.green{
    color: rgba(0, 255, 136, 1);

}

/*host section*/
.host-section{
    margin-top: 40px;
}
.host-card{
    display: flex;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 20px;
    border-radius: 50px;
    gap: 20px;
}
.host-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.host-info{
    flex-grow: 1;
}
.host-info h3{
    font-size: 2rem;
    font-weight: 700;
}
.host-info p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
}
.social-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 50%;
}
/*footer styles*/
footer{
    position: relative;
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-color: rgba(26, 11, 46, 1);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.footer-inner{
    text-align: center;
    margin-bottom: 24px;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 32px 0;
}

.footer-icon a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-icon img{
    width: 15px;
    height: 15px;
    
   
    
}

.hero-section {
    animation: glowBackground 3s ease-in-out infinite alternate;
}

@keyframes glowBackground {
    0% { box-shadow: 0 0 10px rgba(251, 9, 180, 0.5); }
    100% { box-shadow: 0 0 30px rgba(251, 9, 180, 0.8); }
}
.badge {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgba(0, 255, 136, 1);
    color: black;
    padding: 6px 12px; 
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: bold;
    z-index: 3;
    text-transform: uppercase;
    text-align: center;
 
    animation: pulseBadge 0.8s ease-in-out infinite;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
}


@keyframes pulseBadge {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        box-shadow: 0 0 25px rgba(0, 255, 136, 0.9); 
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
        opacity: 1;
    }
}

.microphone-icon {
    animation: floatMic 2s ease-in-out infinite alternate;
}


@keyframes floatMic {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    100% {
        transform: translate(-50%, -50%) translateY(-15px);
    }
}


@media screen and (max-width: 768px){  
    /* navbar responsive */
   .navbar{
    
    padding: 16px 20px;
   }
   .hamburger-label{
    display: block;
   }
   .btn-primary{
    display: none;
   }
   .menu{
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(26, 11, 46, 1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
   }
   .menu ul{
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 10px;
   }
   .btn-primary-mobile{
    display: block;
    margin: 0 20px;
    width: calc(100% - 40px);
    text-align: center;
   }
   .menu-toggle:checked~ .menu{
    display: flex;
   }
   /*hero responsive*/
   .hero-section{
    height: auto;
    padding: 80px 20px 40px;
   }
   .background-wave-image{
        object-fit: contain;
    }
   .section-content h1{
    font-size: 2.5rem;
   }
    .buttons-container {
        gap: 12px;
        flex-direction: row; 
    }

    .btn-listen, .btn-subscribe {
        font-size: 0.9rem;      
        padding: 10px 18px;     
    }
   
   
   /*about responsive */
   .about-section{
    padding: 40px 20px;
   }
   .about-title{
    font-size: 2rem;
   }
   .stats-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
   }
   .stat-number{
    font-size: 2.5rem;
   }
   /*why choose*/
   .why-choose-section{
    padding: 60px 20px; 
   }
    .why-choose-title {
        font-size: 2rem; 
    }
   .grid-layout{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;
   }
   .box1, .box2, .box3, .box4, .box5{
       grid-column: 1;
       grid-row: auto;
   }
   /*episodes cards*/
    .epi-container{
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 30px;
    }
    /*host card*/
    .host-card{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 16px;
        gap: 16px;
        width: 95%;
        margin: 40px auto 20px auto;
        border-radius: 20px;
    }
    .host-image{
        width: 150px;
        height: 150px;
    }
    .host-info {
        width: 100%;                 
        text-align: center;          
    }

    .host-info h3{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    .host-info p{
        font-size: 0.95rem;
        margin-bottom: 4px;
    }
    .social-icon{
        font-size: 12px;
        
    }
    /*footer */
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        align-items: center;
        
       
    }
    .footer-icon a{
        flex: none;
        justify-content: center;
    }
}   
/* Tablets & medium screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .navbar {
    padding: 16px 60px;
  }

  .hero-section {
    padding: 80px 40px;
  }
  .background-wave-image{
        object-fit: contain;
    }


  .section-content h1 {
    font-size: 2.5rem;
  }

  .grid-layout {
    grid-template-columns: 1fr 1fr;
  }

  .epi-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-section,
  .why-choose-section {
    padding: 80px 60px;
  }
  .grid-layout{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Large screens */
@media screen and (min-width: 1025px) {

  .navbar {
    padding: 16px 200px;
  }

  .hero-section {
    padding: 120px 80px;
  }
  .background-wave-image{
        object-fit: cover;
    }
  .about-section,
  .why-choose-section {
    padding: 120px 200px;
  }

  .grid-layout {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .epi-container {
    grid-template-columns: repeat(3, 1fr);
  }
}


